In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data_all = pd.read_csv("MRI_and_CDRinfo_Values_X_train.csv")
data_all
data_labels = pd.read_csv("CDR_Values_y_train.csv")
data_labels

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (22,24,41,46,48,51,90,91,92,93,94,95,96,97,98,99,100,167,205,208,210,213,216,219,221,223,225,227,229,231,235,237,239,241,243,245,247,249,251,253,255,365,380,382,384,402,404,406,551,634,651,654,659,689,770,776,900,908,943,946,964,965,974,1176) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

      Unnamed: 0  CDRGLOB
0           1970        0
1           1146        0
2            675        0
3           1268        2
4           2323        0
...          ...      ...
1583         984        1
1584        1325        1
1585         788        2
1586         195        1
1587        1206        0

[1588 rows x 2 columns]

In [7]:
data_all["HIPPOVOL"]

0       5.1960
1       6.8940
2       6.2860
3       5.5890
4       7.4100
         ...
1583    7.9400
1584    5.3273
1585    6.5270
1586    5.3400
1587    7.6090
Name: HIPPOVOL, Length: 1588, dtype: float64

In [8]:
data_labels[data_labels["CDRGLOB"]==0]

      Unnamed: 0  CDRGLOB
0           1970        0
1           1146        0
2            675        0
4           2323        0
6           1030        0
...          ...      ...
1574          15        0
1578        1986        0
1580        1644        0
1581         921        0
1587        1206        0

[721 rows x 2 columns]

In [10]:
data_labels["HIP_VOL"] = data_all["HIPPOVOL"]

In [11]:
data_labels

      Unnamed: 0  CDRGLOB  HIP_VOL
0           1970        0   5.1960
1           1146        0   6.8940
2            675        0   6.2860
3           1268        2   5.5890
4           2323        0   7.4100
...          ...      ...      ...
1583         984        1   7.9400
1584        1325        1   5.3273
1585         788        2   6.5270
1586         195        1   5.3400
1587        1206        0   7.6090

[1588 rows x 3 columns]

In [12]:
(data_labels[data_labels["CDRGLOB"]==0].iloc[:,2]).mean()

6.304868515950069

In [13]:
(data_labels[data_labels["CDRGLOB"]==1].iloc[:,2]).mean()

5.839062932454695

In [14]:
(data_labels[data_labels["CDRGLOB"]==2].iloc[:,2]).mean()

5.323365463917526

In [15]:
(data_labels[data_labels["CDRGLOB"]==3].iloc[:,2]).mean()

4.965071212121211

In [16]:
data_labels.groupby('CDRGLOB')[['HIP_VOL']].mean()

          HIP_VOL
CDRGLOB
0        6.304869
1        5.839063
2        5.323365
3        4.965071

In [17]:
(data_labels[data_labels["CDRGLOB"]==0].iloc[:,2]).std()

0.7571045502579329

In [20]:
(data_labels[data_labels["CDRGLOB"]==1].iloc[:,2]).std()

0.866156711420769

In [21]:
(data_labels[data_labels["CDRGLOB"]==2].iloc[:,2]).std()

0.974989648088019

In [22]:
(data_labels[data_labels["CDRGLOB"]==3].iloc[:,2]).std()

1.0311153520137832

In [23]:
data_labels.groupby('CDRGLOB')[['HIP_VOL']].std()

          HIP_VOL
CDRGLOB
0        0.757105
1        0.866157
2        0.974990
3        1.031115